.footer{
    background-color: red;
    width: 98vw;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    margin-bottom: 1vw;
    color: white;
    display: flex;
    text-align: center;
}

.con-numb{
    flex: 1;   
}

.con-face{
    flex: 1;   
}

.con-web{
    flex: 1;   
}

a{
    text-decoration: none;
    font-size: 17px;
    color: white;
}

@media (max-width: 1024px){
    .footer{
        height: 30vh;
        flex-direction: column;
    }

}